* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  background-color: #e0dcfa;
}

.bannerMessage {
  position: absolute;
  text-align: center;
  top: 35px;
  font-size: 20px;
  box-shadow: 0 5px 5px rgba(129, 128, 128, 0.3);
  background-color: rgba(238, 237, 237, 0.595);
  width: 51.09%;
  padding-bottom: 20px;
  padding-top: 20px;
  font-weight: bold;
}
/* hidden helper */
.hidden { display: none !important; }

/* variants */
.bannerMessage.success {
  background: #83d1ada5;
  color: #065f46;
}
.bannerMessage.error {
  background: #c962699b;
  color: #7f1d1d;
}

.login-container {
  display: flex;
  height: 100vh;
  width: 100%;
}

.login-image-section {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #8a9fff;
  padding: 20px;
}

.login-image {
  max-width: 100%;
  max-height: 80%;
  object-fit: contain;
  /* border-radius: 15px;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.2); */
}

.login-form-section {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 40px;
}

.login-panel {
  background: white;
  padding: 40px;
  border-radius: 20px;
  box-shadow: 0 15px 35px rgba(0, 0, 0, 0.1);
  width: 100%;
  max-width: 400px;
  text-align: center;
}

.login-panel h2 {
  color: #333;
  margin-bottom: 30px;
  font-size: 28px;
}

.login-form {
  width: 100%;
}

.login-input-group {
  margin-bottom: 20px;
}

.login-input-group input,
.login-form input[type="password"] {
  width: 100%;
  padding: 15px;
  border: 2px solid #e0e0e0;
  border-radius: 10px;
  font-size: 16px;
  transition: border-color 0.3s ease;
  outline: none;
}

.login-input-group input:focus,
.login-form input[type="password"]:focus  {
  border-color: #6017d5;
}

.login-btn {
  width: 100%;
  background: #6d28d9;
  color: white;
  border: none;
  padding: 15px;
  border-radius: 10px;
  font-size: 18px;
  cursor: pointer;
  margin-top: 10px;
  transition: background-color 0.3s ease;
}

.login-btn:hover {
  background: #7a3fda;
}

.signup-link {
  margin-top: 25px;
  color: #666;
  font-size: 14px;
}

.signup-link a {
  color: #6d28d9;
  text-decoration: none;
  font-weight: bold;
  text-decoration: underline;
}


