body {
  font-family:'Times New Roman', Times, serif;
}

.container {
  display: flex;
}

.vertical-menu {
  width: 200px;
  border-right: 1px solid #ccc;
}

.vertical-menu a {
  display: block;
  padding: 10px;
  text-decoration: none;
  color: black;
}

.vertical-menu a.active {
  background-color: #4CAF50;
  color: white;
}

.vertical-menu a:hover {
  background-color: #ddd;
}

.main-content {
  flex: 1;
  padding: 20px;
}
